<nav class="navbar navbar-expand-lg mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/img/logo-visit-diego-dark.png" alt="Logo black"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        {% assign mypages = site.pages | sort: "order" %}
          {% for page in mypages %}
            <li class="nav-item">
              <a class="nav-link {% if item.url == page.url %}active focus{% endif %}" aria-current="page" href="{{ page.url | absolute_url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
        </li> -->
      </ul>
      <div class="d-flex">
        <button class="btn btn-custom-black">Join our community</button>
      </div>
    </div>
  </div>
</nav>
