.cards-simple-text > .card {
  max-width: 18rem;
  background-color: $light;
  border-radius: 16px;
  border: solid 2px $black;
}
.cards-simple-text > .card > .card-body {
  padding: 28px 14px;
}
.inner-card-line {
  height: 2px;
  width: 100%;
  background-color: $black;
}
.card-highlight-wide {
  padding: 28px 14px;
  background-color: $beige;
  border-radius: 16px;
}
