{% include head.html %}
<main class="container">
{% include navbar.html %}
  <section class="position-relative overflow-hidden pt-5 pt-lg-3">
	<!-- Content START -->
	<div class="container">
		<!-- Title -->
		<div class="row align-items-center g-5">
			<!-- Left content START -->
			<div class="col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0">
				<!-- Title -->
				<h1 class="mb-0 display-6">Welcome to Diego</h1>
        <!-- Content -->
				<p class="my-4 lead">Visit Diego is a collaborative media created by locals for an international audience or travelers, experience seekers and readers.</p>
				<div class="d-sm-flex align-items-center justify-content-center justify-content-lg-start">
					<!-- Button -->
					<a href="#" class="btn btn-custom-orange">Collaborate with us</a>
				</div>
			</div>
			<!-- Left content END -->

			<!-- Right content START -->
			<div class="col-lg-7 col-xl-6 text-center position-relative">
				<!-- Image -->
				<div class="position-relative">
					<img class="custom-img" src="/assets/img/visit-diego-1.jpg" alt="Visit Diego Suarez Antsiranana Madagascar" height="450px">
				</div>
			</div>
			<!-- Right content END -->
		</div>

    <div class="row mt-5 mb-5">
      <h2>We have a dream</h2>
      <p class="w-75">In 2022, our goal is to grow awareness about our natural wonders, culture, identity and life style. To achieve this, we rely on 3 tools that the community will feed with Diego related content.</p>
        <div class="d-flex align-items-start cards-simple-text justify-content-between flex-xs-column">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Storytelling</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">Local stories are at the heart of this initiative. We want to make our cultural and history legacy visible to the world through photography and English writings. An audience of international listeners and readers are waiting for us to shine.</p>
              <div class="inner-card-line mb-3 mt-1"></div>
              <a href="#" class="card-link">Read more</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Instagram</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">This is the platform on which we want to raise awareness around our local stories. Share your photos, videos and writings on Instagram with #VisitDiego or by mentioning us @visitdiego.</p>
              <div class="inner-card-line mb-3 mt-1"></div>
              <a href="#" class="card-link">Read more</a>
            </div>
          </div>
          <div class="card card-simple-text">
            <div class="card-body">
              <h5 class="card-title">Google Maps</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
              <p class="card-text">Let’s add all the best spots to see in and around Diego-Suarez (Antsiranana). To do so, just follow our step-by-step tutorial or let us know about your place by sending us an email or a private message on Instagram.</p>
              <div class="inner-card-line mb-3 mt-1"></div>
              <a href="#" class="card-link">Soon available</a>
            </div>

        </div>
      </div>
    </div>
    <!-- Highlight section -->
    <div class="row mt-5 mb-5 card-highlight-wide">
      <div>
        <h3>Our Goals For 2022</h3>
        <div class="inner-card-line mb-3 mt-1"></div>
        <div class="row align-items-start">
          <div class="col-6 col-sx-6">
            <p>Visit Diego is a collaborative media created by locals for an international audience or travelers, experience seekers and readers. For 2022, our goal is to grow awareness about our natural wonders, culture, identity and life style.</p>
            <div class="d-flex">
              <div class="pr-3">
              <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHLQJf32J_ASQ/profile-displayphoto-shrink_800_800/0/1597330326518?e=1648080000&v=beta&t=gk2HLNT5w2wb_YPN_dY1RfVPYfLZ9wMajxyyjE1juvA" alt="Monica Randriamialy" class="avatar">
              </div>
                <p class="avatar-text mr-5">
                <strong>Monica Randriamialy</strong><br>
                Founder @visitdiego
                </p>
            </div>
          </div>
          <div class="col-6 col-sm-6">
            <ul>
              <li>🙌 10.000 Followers on Instagram</li>
              <li>✍️ Collect & publish 50 local stories</li>
              <li>📍 Reveal 50 places on Google Maps</li>
              <li>📗 Create a free travelers’ guide</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
	</div>
	<!-- Content END -->
{{ content }}
{% include body-end.html %}
{% include footer.html %}
</main>
